/* Carga.module.css */
.tabContainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
  }
  
  .tabButton {
    padding: 0.5rem 1rem;
    border: none;
    background: #ddd;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .tabButton:hover {
    background: #ccc;
  }
  
  .activeTab {
    background: #333;
    color: white;
  }
  
  .tabContent {
    padding: 1rem;
    border: 1px solid #ddd;
  }
  .boxSelect{
    display: flex;
    align-items: center;
    justify-content: center;
  }