.formContainer {
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .formGroup {
    margin-bottom: 1rem;
  }
  
  .input,
  .select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button {
    padding: 0.75rem;
    background-color: #FF6F0F;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .button:hover {
    background-color: #e65d0b;
  }
  
  .newBancoContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .newBancoContainer input {
    flex: 1;
  }
  /* src/components/EditarTarjeta.module.css */
.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #FF6F0F; /* Orange */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .successAnimation {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #4CAF50; /* Verde para éxito */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeInOut 1.5s ease-in-out;
  }
  
  @keyframes fadeInOut {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }
  