.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Asegura que el spinner esté por encima del resto del contenido */
  }
  
  .spinner {
    border: 8px solid rgba(0, 0, 0, 0.1); /* Fondo del spinner */
    border-left: 8px solid #FF6F0F; /* Color de la animación */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .spinnerP {
    color: white;
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  